.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.background-wrapper.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: none;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

